@import "_fonts";
@import "_variables";
@import "_helpers";
@import "_mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.hero {
  min-height: calc(var(--inner-height, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &-outer {
    background: url(../assets/images/hero-bg.jpg) top/cover no-repeat;
    min-height: calc(var(--inner-height, 1vh) * 100);
  }
}

.header {
  --header-gap-top: 40px;
  margin-top: var(--header-gap-top);

  @media (min-width: 768px) {
    --header-gap-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  @media (min-width: 1440px) {
    --header-gap-top: 100px;
  }

  &__logo-info {
    @media (min-width: 768px) {
      display: flex;
      gap: 40px;
    }
    @media (min-width: 1440px) {
      gap: 50px;
    }
  }

  &__logo {
    @include icon-link(146px, 102px, "../assets/icons/logo-sm.svg");
    margin-bottom: 10px;

    @media (min-width: 768px) {
      @include icon-link(300px, 63px, "../assets/icons/logo.svg");
      margin-bottom: 0;
    }
  }

  &__slogan {
    font-size: 14px;
    line-height: 1;
    @media (min-width: 768px) {
      max-width: 10ch;
      line-height: 16px;
      margin-top: 10px;
    }
  }

  &__contact {
    display: none;
    @media (min-width: 768px) {
      display: inline-block;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }

    &-link {
      font-size: 16px;
      line-height: 22px;
      text-decoration: none;
      color: black;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (min-width: 768px) {
    align-self: flex-start;
  }

  &__info {
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 28px;
      line-height: 34px;
      text-align: start;
      max-width: 330px;
    }

    @media (min-width: 1440px) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__contact-link {
    @media (min-width: 768px) {
      display: none !important;
    }
  }
  &__contact-link--mail {
    @include icon-link(32px, 32px, "../assets/icons/email-icon.svg");
  }
  &__contact-link--phone {
    @include icon-link(32px, 32px, "../assets/icons/phone-icon.svg");
  }
}

.footer {
  width: 100%;
  --footer-gap-bottom: 20px;
  margin-bottom: var(--footer-gap-bottom);

  @media (min-width: 768px) {
    --footer-gap-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1440px) {
    --footer-gap-bottom: 100px;
  }

  &__txt-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    @media (min-width: 768px) {
      text-align: start;
      flex-direction: row-reverse;
    }
  }

  &__swiss-flag {
    @include icon-link(28px, 18px, "../assets/icons/swiss-flag.svg");
  }

  &__txt {
    font-size: 16px;
    line-height: 1;
    margin: 0 auto 23px;
    max-width: 120px;
    text-align: center;

    @media (min-width: 768px) {
      margin: 0;
      max-width: none;
    }
  }

  &__links-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    @media (min-width: 768px) {
      order: -1;
      gap: 15px;
    }
  }

  &__link {
    @media (min-width: 768px) {
      text-indent: 0 !important;
      background: none !important;
      width: auto !important;
      height: auto !important;
      font-size: 16px;
      line-height: 1;
      text-decoration: none;
      color: black;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &--facebook {
      @include icon-link(11px, 26px, "../assets/icons/facebook-logo.svg");
    }

    &--instagram {
      @include icon-link(26px, 26px, "../assets/icons/instagram-logo.svg");
    }
  }
}
