@import "_fonts";
@import "_variables";
@import "_helpers";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

.hero {
  &-outer {
    background: url(../assets/images/hero-bg.jpg) center/cover no-repeat;
    min-height: 100vh;
  }
}
