/******   Gilroy  ******/
@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/gilroy_bold-webfont.woff2") format("woff2"), url("../assets/fonts/gilroy/gilroy_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/gilroy_semibold-webfont.woff2") format("woff2"), url("../assets/fonts/gilroy/gilroy_semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/gilroy_medium-webfont.woff2") format("woff2"), url("../assets/fonts/gilroy/gilroy_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/gilroy/gilroy_regular-webfont.woff2") format("woff2"), url("../assets/fonts/gilroy/gilroy_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --gap-md: 34px;
  --gap-lg: 190px;
  --gap-xl: 15px;
}

.container {
  --cont-m-width: 100%;
  --cont-padding: 25px;
  padding-left: var(--cont-padding);
  padding-right: var(--cont-padding);
  max-width: var(--cont-m-width);
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    --cont-m-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    --cont-padding: var(--gap-md);
    --cont-m-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    --cont-m-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    --cont-m-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    --cont-padding: var(--gap-lg);
    --cont-m-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .container {
    --cont-padding: var(--gap-xl);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.hero {
  min-height: calc(var(--inner-height, 1vh) * 100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-outer {
  background: url(../assets/images/hero-bg.jpg) top/cover no-repeat;
  min-height: calc(var(--inner-height, 1vh) * 100);
}

.header {
  --header-gap-top: 40px;
  margin-top: var(--header-gap-top);
}

@media (min-width: 768px) {
  .header {
    --header-gap-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .header {
    --header-gap-top: 100px;
  }
}

@media (min-width: 768px) {
  .header__logo-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
}

@media (min-width: 1440px) {
  .header__logo-info {
    gap: 50px;
  }
}

.header__logo {
  display: inline-block;
  text-indent: -9999px;
  width: 146px;
  height: 102px;
  background-size: 146px 102px;
  background: url("../assets/icons/logo-sm.svg") no-repeat;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .header__logo {
    display: inline-block;
    text-indent: -9999px;
    width: 300px;
    height: 63px;
    background-size: 300px 63px;
    background: url("../assets/icons/logo.svg") no-repeat;
    margin-bottom: 0;
  }
}

.header__slogan {
  font-size: 14px;
  line-height: 1;
}

@media (min-width: 768px) {
  .header__slogan {
    max-width: 10ch;
    line-height: 16px;
    margin-top: 10px;
  }
}

.header__contact {
  display: none;
}

@media (min-width: 768px) {
  .header__contact {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
}

.header__contact-link {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: black;
}

.header__contact-link:hover, .header__contact-link:focus {
  text-decoration: underline;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media (min-width: 768px) {
  .main {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.main__info {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

@media (min-width: 768px) {
  .main__info {
    font-size: 28px;
    line-height: 34px;
    text-align: start;
    max-width: 330px;
  }
}

@media (min-width: 1440px) {
  .main__info {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: 768px) {
  .main__contact-link {
    display: none !important;
  }
}

.main__contact-link--mail {
  display: inline-block;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background: url("../assets/icons/email-icon.svg") no-repeat;
}

.main__contact-link--phone {
  display: inline-block;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background: url("../assets/icons/phone-icon.svg") no-repeat;
}

.footer {
  width: 100%;
  padding: 0 25px;
  --footer-gap-bottom: 20px;
  margin-bottom: var(--footer-gap-bottom);
}

@media (min-width: 768px) {
  .footer {
    padding: 0;
    --footer-gap-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .footer {
    --footer-gap-bottom: 100px;
  }
}

.footer__txt-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer__txt-wrapper {
    text-align: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.footer__swiss-flag {
  display: inline-block;
  text-indent: -9999px;
  width: 28px;
  height: 18px;
  background-size: 28px 18px;
  background: url("../assets/icons/swiss-flag.svg") no-repeat;
}

.footer__txt {
  font-size: 16px;
  line-height: 1;
  margin: 0 auto 23px;
  max-width: 120px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__txt {
    margin: 0;
    max-width: none;
  }
}

.footer__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .footer__links-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    gap: 15px;
  }
}

@media (min-width: 768px) {
  .footer__link {
    text-indent: 0 !important;
    background: none !important;
    width: auto !important;
    height: auto !important;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    color: black;
  }
  .footer__link:hover, .footer__link:focus {
    text-decoration: underline;
  }
}

.footer__link--facebook {
  display: inline-block;
  text-indent: -9999px;
  width: 11px;
  height: 26px;
  background-size: 11px 26px;
  background: url("../assets/icons/facebook-logo.svg") no-repeat;
}

.footer__link--linked-in {
  display: inline-block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background: url("../assets/icons/linked-in-logo.svg") no-repeat;
}

.footer__link--twitter {
  display: inline-block;
  text-indent: -9999px;
  width: 22px;
  height: 17px;
  background-size: 22px 17px;
  background: url("../assets/icons/twitter-logo.svg") no-repeat;
}

.footer__link--youtube {
  display: inline-block;
  text-indent: -9999px;
  width: 26px;
  height: 19px;
  background-size: 26px 19px;
  background: url("../assets/icons/YouTube-logo.svg") no-repeat;
}
/*# sourceMappingURL=styles.css.map */